name: docs-verify
on:
  workflow_call:

jobs:
  npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7.2.1
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm

      - uses: actions/download-artifact@v3
      - run: pnpm install
      - run: pnpm build
